.price-table {
  border-collapse: collapse;
  width: 100%;
  padding: 24px;
}

.price-table td,
.price-table tr {
  padding: 6px 12px;
  border: 1px solid #43cb83;
  background-color: white;

}

/** head table **/
.price-table thead th {
  text-align: center;
  background-color: #43cb8326;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #29663d;
  border: 1px solid #43cb83;

}

.price-table tbody {
  text-align: right;
}
.price-table tbody .title-left{
  text-align: left;
}