.select-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.select-default {
  width: 190px;
  height: 26px;
  padding: 0 6px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #eb7012;
  outline: none;
}

.select-main label {
  font-weight: 600;
  color: #eb7012;
}

.select-default:focus {
  border: 1px solid #eb7012;
  box-shadow: 0 0 10px #eb7012;
}