.description {
	width: 100%;
	height: 768px;
	background-color: #eb7012;
}

.description-content {
	height: 100%;
	margin: 0 84px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.description-content-left {
	height: 540px;
	width: 60%;
	margin-right: 32px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #377047;
	border: solid 2px #377047;
}

.description-content-left hr {
	border: none;
	border-top: solid 3px #377047;
	width: 15%;
	margin-top: 12px;
}

.description-content-left p {
	text-align: center;
	margin-top: 48px;
	line-height: 24px;
}

.description-content-left p span {
	font-weight: bold;
	color: #eb7012;
}

.description-content-right {
	height: 270px;
	width: 40%;
	background-color: black;
}

.description-content-right iframe {
	width: 100%;
	height: 100%;
	border: none;
}