/** set template **/


/*************/
.banner-right-form {
  width: 100%;
  font-size: 14px;
  font-weight: lighter;
}

.banner-right-form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.banner-right-from {
  width: 50%;
}

.banner-right-form-header h4 {
  padding-left: 20%;
  width: 50%;
  text-align: center;
  font-size: 24px;
  color: #eb7012;
}

.banner-right-form-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner-right-form-input-value {
  width: 50%;
}

.banner-right-form-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.banner-right-form-footer > button[type="submit"] {
  margin-left: 20%;
  width: 30%;
  height: 48px;
  background-color: #eb7012;
  color: #fff;
  padding: 0 24px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.banner-right-form-footer button[type="submit"]:hover {
  background-color: #fff;
  color: #eb7012;
  border: solid 2px #eb7012;
  transition: background-color 0.2s;
}

.banner-right-form-direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.direction {
  width: 48px;
  height: 6px;
  margin: 3px 0;
  border-bottom: solid 2px #eb7012;
  border-right: solid 2px #eb7012;
  transform: skewX(60deg)
}
